APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vxBrEDKOWNytoemc8lRC/nLAb1DHN4pMZLrKnbkHM2M=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
# DB_HOST=host.docker.internal
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=noc-composite-db
DB_USERNAME=postgres
DB_PASSWORD=postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

###############################################
# KEYCLOAK
###############################################

KEYCLOAK_BASE_URL = https://elrs-keycloak.assam.gov.in/ssoauth

KEYCLOAK_REALM = elrs-users-stg

KEYCLOAK_CLIENT_ID = noc-client

KEYCLOAK_CLIENT_SECRET = orQiMrOYV4FbksGaEZgsc5hikHRuY0WU

KEYCLOAK_REDIRECT_URI = http://127.0.0.1:8000/single-sign

KEYCLOAK_POST_LOGOUT_REDIRECT_URI=http://127.0.0.1:8000/logout-complete

###############################################
# OIDC
###############################################

KEYCLOAK_SCOPES="openid profile email"

KEYCLOAK_PKCE_REQUIRED=true

KEYCLOAK_CLOCK_SKEW_SECONDS=60


###############################################
# TOKEN LIFECYCLE
###############################################

KEYCLOAK_REFRESH_BEFORE_EXPIRY_SECONDS=60

KEYCLOAK_INTROSPECTION_FALLBACK_ENABLED=true

KEYCLOAK_ONLINE_VALIDATION_INTERVAL_SECONDS=300

KEYCLOAK_VALIDATION_LOCK_SECONDS=15

###############################################
# APISIX
###############################################

APISIX_BASE_URL=https://elrs-apisix.assam.gov.in

LANDHUB_API_URL=https://landhub.assam.gov.in
LANDHUB_NIC_API_URL=${LANDHUB_API_URL}/api/index.php/NicApi
LANDHUB_API_KEY=noc

LOCATION_API_URL=https://noconline.assam.gov.in/updateApi

LANDHUB_NOC_API_URL=${LANDHUB_API_URL}/nocApi/index.php

# NOC_SERVICE_API_URL=http://localhost/nocApiLive/index.php
NOC_SERVICE_API_URL=https://landhub.assam.gov.in/nocApi/index.php

NOC_SERVICE_USERNAME=noc_citizen_demo
NOC_SERVICE_API_KEY=fd4ce96dea5d62fe706ef1ecf2074aac1d357e457b7e1627795217abcdd51954ca0630e267558818b0822ef6026224e56bbb13321b9187c4284a390b2701eb15


# BHUNAKSHA
BHUNAKSHA_BOUNDARY_URL=https://landhub.assam.gov.in/apidemo/index.php/BhunakshaApiController/NeibouringDagsGeoJSON

BHUNAKSHA_BOUNDARY_API_KEY=ljhgrtyhbomsrwbdrkhmhdmalqrsdsdsaahkldsnkdsjgSFDSdgdjhjtrbnhu

BHUNAKSHA_BOUNDARY_ALGO=HS256

#RCCMS

RCCMS_URL=https://129.154.254.176/rccms_stage_backend/v1/caseStatus/findLandCase

L5_SWAGGER_CONST_HOST=http://127.0.0.1:8000/api
L5_SWAGGER_GENERATE_ALWAYS=true

DEV_AUTH_ENABLED=true